body{
	background-color: rgb(249,249,249); 
}

.iconImg {
	width: 33px; 
	height: 33px;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
}

.buton {
	border: 2px solid red;
	color: red;
	background-color: white;
	padding: 8px 8px;
	border-radius: 8px;
	font-size: 15px;
	font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.FonayClm, .FsilClm, .silClm, #parolaBtn, .aciklamaClm, .iptalClm1, .iptalClm2, .changeEmailPass {
	cursor: pointer;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
